@{
    ViewBag.Title = "Index";
}

<h2>Inpiut:Index</h2>
<p>Route data: @ViewBag.RouteData</p>
<p>Query string: @ViewBag.QueryString</p>
<p>ID from route: @ViewBag.IDRoute</p>
<p>Value from route: @ViewBag.ValueRoute</p>
<p>ID from query: @ViewBag.IDQuery</p>
<p>Value from query: @ViewBag.ValueQuery</p>

